In [260]:
infilename = '../../H1B_FY_2015.csv'

In [261]:
states = ['HI','AK','WA','OR','CA','ID','NV','AZ','UT','WY','MT'\
          ,'CO','NM','TX','OK','KS','NE','SD','ND','MN','IA','MO','AR','LA','MS'\
          ,'TN','KY','IL','WI','MI','IN','OH','AL','FL','GA','SC','NC','VA','WV'\
          ,'DC','MD','NJ','CT','RI','MA','PA','NY','VT','NH','ME']
visa_classes = ['H1-B','H1-B1','E-3']

In [259]:
len(states)

50

In [234]:
import pandas as pd

In [235]:
indf = pd.read_csv(infilename,sep=';')

In [236]:
indf['VISA_CLASS'].unique()

array(['H-1B', 'H-1B1 Chile', 'H-1B1 Singapore', 'E-3 Australian'],
      dtype=object)

In [237]:
colnames = ['STATUS','VISA_CLASS','SOC_CODE','SOC_NAME','WORKLOC1_STATE','WORKSITE_STATE']

In [262]:
with open(infilename) as f:
    first_line = f.readline()
delim = first_line[0]

In [263]:
first_line = first_line.split(delim)

In [264]:
first_line

['',
 'CASE_NUMBER',
 'CASE_STATUS',
 'CASE_SUBMITTED',
 'DECISION_DATE',
 'VISA_CLASS',
 'EMPLOYMENT_START_DATE',
 'EMPLOYMENT_END_DATE',
 'EMPLOYER_NAME',
 'EMPLOYER_ADDRESS1',
 'EMPLOYER_ADDRESS2',
 'EMPLOYER_CITY',
 'EMPLOYER_STATE',
 'EMPLOYER_POSTAL_CODE',
 'EMPLOYER_COUNTRY',
 'EMPLOYER_PROVINCE',
 'EMPLOYER_PHONE',
 'EMPLOYER_PHONE_EXT',
 'AGENT_ATTORNEY_NAME',
 'AGENT_ATTORNEY_CITY',
 'AGENT_ATTORNEY_STATE',
 'JOB_TITLE',
 'SOC_CODE',
 'SOC_NAME',
 'NAIC_CODE',
 'TOTAL WORKERS',
 'FULL_TIME_POSITION',
 'PREVAILING_WAGE',
 'PW_UNIT_OF_PAY',
 'PW_WAGE_LEVEL',
 'PW_WAGE_SOURCE',
 'PW_WAGE_SOURCE_YEAR',
 'PW_WAGE_SOURCE_OTHER',
 'WAGE_RATE_OF_PAY',
 'WAGE_UNIT_OF_PAY',
 'H-1B_DEPENDENT',
 'WILLFUL VIOLATOR',
 'WORKSITE_CITY',
 'WORKSITE_COUNTY',
 'WORKSITE_STATE',
 'WORKSITE_POSTAL_CODE\n']

In [265]:
#Figure out which columns to use

used_colnames = []
used_colname_indices = []

for name in colnames:
    for header in first_line:
        if name in header:
            used_colnames.append(header)
            used_colname_indices.append(first_line.index(header))
            
print(used_colnames,used_colname_indices)

['CASE_STATUS', 'VISA_CLASS', 'SOC_CODE', 'SOC_NAME', 'WORKSITE_STATE'] [2, 5, 22, 23, 39]

In [266]:
infile = open(infilename)
all_lines = infile.readlines()
infile.close()

#Generate dictionary to fill with names
alldata = {}
for name in used_colnames:
    alldata[name] = ['NAN']*(len(all_lines)-1)

In [267]:
list(alldata.keys())

['CASE_STATUS', 'VISA_CLASS', 'SOC_CODE', 'SOC_NAME', 'WORKSITE_STATE']

In [268]:
%%time

i = 0
total_certified = 0

db = open('for_debugging.txt','w')
for line in all_lines[1:]:
    vals = line.split(delim)
    status = vals[used_colname_indices[0]]
    visa_class = vals[used_colname_indices[1]]
    soc_code = vals[used_colname_indices[2]]
    soc_name = vals[used_colname_indices[3]]
    workstate = vals[used_colname_indices[4]].strip()
    if (status == "CERTIFIED") and (len(soc_code)==7) and (visa_class == 'H-1B') and (workstate in states):
            #print(status,visa_class,soc_code,soc_name,workstate)
            alldata[used_colnames[0]][i] = status
            alldata[used_colnames[1]][i] = visa_class
            alldata[used_colnames[2]][i] = soc_code
            alldata[used_colnames[3]][i] = soc_name
            alldata[used_colnames[4]][i] = workstate
            total_certified += 1 
    db.write('%s;%s;%s;%s;%s\n' %(alldata[used_colnames[0]][i],alldata[used_colnames[1]][i],\
        alldata[used_colnames[2]][i],alldata[used_colnames[3]][i],alldata[used_colnames[4]][i]))
    i += 1

db.close()
#Remove NANS
#for colname in used_colnames:
#    alldata[colname][:] = [value for value in alldata[colname] if value != 'NAN']

CPU times: user 3.56 s, sys: 323 ms, total: 3.89 s
Wall time: 3.97 s

In [269]:
print(total_certified)

526476

In [270]:
test = pd.read_csv('for_debugging.txt',sep=';',names=['status','type','code','job','state'])

In [271]:
import numpy as np
test.replace('NAN', np.nan,inplace=True)

In [272]:
test.dropna(inplace=True)

In [273]:
test['state'].unique()

array(['OK', 'TX', 'VA', 'CA', 'PA', 'IL', 'NY', 'MI', 'TN', 'NC', 'FL',
       'NJ', 'MD', 'DC', 'KY', 'GA', 'CT', 'RI', 'WA', 'SD', 'AZ', 'OH',
       'MO', 'MN', 'IA', 'IN', 'MA', 'CO', 'AR', 'SC', 'NH', 'ME', 'NV',
       'MS', 'WI', 'KS', 'OR', 'LA', 'ID', 'AL', 'NM', 'UT', 'HI', 'NE',
       'WV', 'ND', 'VT', 'AK', 'MT', 'WY'], dtype=object)

In [274]:
test['status'].unique()

array(['CERTIFIED'], dtype=object)

In [275]:
test['type'].unique()

array(['H-1B'], dtype=object)

In [276]:
len(test['code'].unique())

514

In [277]:
len(test['job'].unique())

803

In [278]:
#Find number of unique LCA SOC codes
result = {}
for entry in alldata[used_colnames[2]]:
    if (entry != 'NAN'):
        if entry not in result:
            result[entry] = 0
        result[entry] += 1

In [279]:
result['15-1121']

106354

In [253]:
#Top 10 occupations
for w in list(sorted(result, key=result.get, reverse=True))[:10]:
  ind_w = alldata[used_colnames[2]].index(w)
  ind_name = alldata[used_colnames[3]][ind_w]
  print(w, ind_name, result[w], result[w]/total_certified)

15-1121 COMPUTER SYSTEMS ANALYSTS 107350 0.2023581749121104
15-1132 SOFTWARE DEVELOPERS, APPLICATIONS 87167 0.16431257599034862
15-1131 COMPUTER PROGRAMMERS 80793 0.15229738263320106
15-1199 COMPUTER OCCUPATIONS, ALL OTHER 49972 0.09419881431493228
15-1133 SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE 15099 0.028462096720987002
13-1111 MANAGEMENT ANALYSTS 11607 0.0218795653116429
15-1142 NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS 9498 0.01790403302575896
13-2011 ACCOUNTANTS AND AUDITORS 9324 0.017576037474434255
13-2051 FINANCIAL ANALYSTS 7633 0.014388448524491277
15-1141 DATABASE ADMINISTRATORS 7444 0.014032177494604095

In [254]:
#Find number of unique states
result = {}
for entry in alldata[used_colnames[4]]:
    if (entry != 'NAN'):
        if entry not in result:
            result[entry] = 0
        result[entry] += 1

In [255]:
#Top 10 states
for w in list(sorted(result, key=result.get, reverse=True))[:10]:
  print(w, result[w], result[w]/total_certified)

CA 96878 0.18261812081169473
TX 53825 0.10146184224167994
NY 43886 0.08272651014618422
NJ 42290 0.07971799922713692
IL 28933 0.05453962808320531
GA 20387 0.03843014543021141
MA 19996 0.0376930979556829
PA 19862 0.037440503680524796
WA 18493 0.03485989500372294
FL 17710 0.03338391502276176

In [280]:
alldata.keys()

dict_keys(['CASE_STATUS', 'VISA_CLASS', 'SOC_CODE', 'SOC_NAME', 'WORKSITE_STATE'])