In [1]:
import pandas as pd

In [5]:
inputfile = pd.read_csv('h1b_input.csv',sep=';')

In [7]:
inputfile.head()

,Unnamed: 0,LCA_CASE_NUMBER,STATUS,LCA_CASE_SUBMIT,DECISION_DATE,VISA_CLASS,LCA_CASE_EMPLOYMENT_START_DATE,LCA_CASE_EMPLOYMENT_END_DATE,LCA_CASE_EMPLOYER_NAME,LCA_CASE_EMPLOYER_ADDRESS,...,OTHER_WAGE_SOURCE_1,YR_SOURCE_PUB_1,LCA_CASE_WORKLOC2_CITY,LCA_CASE_WORKLOC2_STATE,PW_2,PW_UNIT_2,PW_SOURCE_2,OTHER_WAGE_SOURCE_2,YR_SOURCE_PUB_2,LCA_CASE_NAICS_CODE
0,0,I-200-09106-546545,CERTIFIED-WITHDRAWN,2013-01-18 18:05:43,2014-09-29 15:59:50,H-1B,2013-02-01 00:00:00,2016-02-01 00:00:00,TEXAS STATE UNIVERSITY-SAN MARCOS,601 UNIVERSITY DRIVE,...,OFLC ONLINE DATA CENTER,2013.0,ST. LOUIS,MO,49566.0,Year,OES,OFLC ONLINE DATA CENTER,OFLC ONLINE DATA CENTER,611310.0
1,1,I-200-09162-143337,CERTIFIED,2014-03-17 11:11:45,2014-03-21 23:11:51,H-1B,2014-09-15 00:00:00,2017-09-15 00:00:00,"EYE SPECIALISTS OF INDIANA, P.C.",1901 N. MERIDIAN ST.,...,OFLC ONLINE DATA CENTER,2013.0,INDIANAPOLIS,IN,64251.0,Year,Other,OFLC ONLINE DATA CENTER,OFLC ONLINE DATA CENTER,621320.0
2,2,I-200-09182-550211,DENIED,2014-03-14 17:05:01,2014-03-20 16:59:49,H-1B,2014-04-01 00:00:00,2015-04-01 00:00:00,"LHB, INC.",21 WEST SUPERIOR STREET,...,OFLIC ONLINE,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,541330.0
3,3,I-200-09193-873099,CERTIFIED,2014-03-01 12:37:02,2014-03-06 22:03:37,H-1B,2014-08-28 00:00:00,2017-08-27 00:00:00,"WAM USA, INC.",75 BOULDERBROOK CIRCLE,...,OFLC ONLINE DATA CENTER,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,333922.0
4,4,I-200-09197-120609,CERTIFIED-WITHDRAWN,2014-03-10 15:33:41,2014-03-17 10:52:46,H-1B,2014-09-01 00:00:00,2017-09-01 00:00:00,"DFUSE TECHNOLOGIES, INC.",20143 DESERT FOREST DRIVE,...,OFLC ONLINE DATA CENTER,2013.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,541519.0

In [9]:
from random import shuffle

In [11]:
colnames = list(inputfile.columns)

In [17]:
shuffle(colnames)

In [21]:
shuffled = inputfile[colnames]

In [24]:
shuffled.to_csv('1hb_shiffled.csv',sep='[',index=True)